.calcBody{
    height: 400px;
    width: 250px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.display{
    height: 60px;
    width: 220px;
    background-color: lightgray;
    margin: 15px;
}
.buttons{
    height: 270px;
    width: 220px;
    background-color: black;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap:1px;



}
.test1{
    background-color: blueviolet;
    width: 54px;
    height: 66px;
    flex: auto;

}
