.calcBody{
    height: 400px;
    width: 250px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.display{
    height: 19px;
    width: 233px;
    background-color: lightgray;
    margin: 8px 8px 0px;
    text-align: right;
    padding: 23px 3px;
    font-size: larger;
    font-weight: 800;
}
.allButtons{
    height: 302px;
    width: 234px;
    background-color: black;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap:1px;
}
.buttons{
    background-color: blueviolet;
    width: 27px;
    height: 29px;
    flex: auto;
    text-align: center;
    padding: 15px 11px;
}